@charset "UTF-8";
/*
  头部
*/
.hide {
  display: none; }

.header {
  min-width: 1200px;
  width: 100%;
  overflow: hidden;
  background: #333333; }
  .header h2 {
    width: 216px;
    background: #ff8f00;
    line-height: 52px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    float: left; }
  .header ul {
    float: left;
    width: calc(100% - 216px);
    background: #333;
    text-align: right; }
    .header ul li {
      float: right;
      width: 164px;
      line-height: 52px;
      font-size: 14px;
      margin-right: 33px;
      color: #fff; }
      .header ul li a {
        line-height: 52px;
        font-size: 14px;
        color: #fff;
        margin-left: 30px; }

.container {
  min-width: 1200px;
  width: 100%;
  height: calc(100% - 52px);
  float: left;
  /*
    左侧导航栏
  */
  /*
    正文
  */ }
  .container .sideBar {
    width: 216px;
    height: 100%;
    background: #333;
    float: left; }
    .container .sideBar .sideBarList {
      width: 216px; }
      .container .sideBar .sideBarList h2 {
        line-height: 50px;
        width: 187px;
        border-left: 3px solid transparent;
        padding-left: 26px;
        font-size: 14px;
        cursor: pointer;
        color: #fefefe; }
        .container .sideBar .sideBarList h2 span {
          float: right;
          width: 26px;
          height: 50px;
          background: url("../img/common/icon_arrow_right.png") left center no-repeat; }
        .container .sideBar .sideBarList h2 i {
          display: block;
          float: left;
          width: 30px;
          height: 50px;
          background: url("../img/common/icon_yong.png") left center no-repeat; }
        .container .sideBar .sideBarList h2:hover {
          background: #444; }
      .container .sideBar .sideBarList ul {
        overflow: hidden;
        display: none; }
        .container .sideBar .sideBarList ul li {
          background: #444;
          line-height: 50px;
          width: 157px;
          border-left: 3px solid transparent;
          padding-left: 56px; }
          .container .sideBar .sideBarList ul li a {
            font-size: 14px;
            color: #fefefe; }
          .container .sideBar .sideBarList ul li:hover {
            border-left: 3px solid #FF8F00; }
        .container .sideBar .sideBarList ul li.active {
          border-left: 3px solid #FF8F00; }
          .container .sideBar .sideBarList ul li.active a {
            color: #FF8F00; }
    .container .sideBar .sideBarList.active h2 {
      background: #444; }
      .container .sideBar .sideBarList.active h2 span {
        background: url("../img/common/icon_arrow_down.png") left center no-repeat; }
    .container .sideBar .sideBarList.active ul {
      display: block; }
    .container .sideBar .userManagement h2 i {
      background: url("../img/common/icon_yong.png") left center no-repeat; }
    .container .sideBar .financialManagement h2 i {
      background: url("../img/common/icon_jin.png") left center no-repeat; }
    .container .sideBar .accountInfo h2 i {
      background: url("../img/common/icon_zhang.png") left center no-repeat; }
    .container .sideBar .dataCenter h2 i {
      background: url("../img/common/icon_shu.png") left center no-repeat; }
  .container .content {
    float: left;
    width: calc(100% - 216px);
    background: #f5f3f0;
    height: 100%; }
    .container .content .main {
      width: calc(100% - 34px);
      height: calc(100% - 42px);
      background: #f1f1f1;
      margin: 20px auto;
      border: 1px solid #ddd; }
      .container .content .main .mainTitle {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ddd; }
        .container .content .main .mainTitle li {
          width: 16.8%;
          line-height: 48px;
          float: left;
          text-align: center;
          border-right: 1px solid #ddd;
          border-top: 3px solid transparent;
          margin-top: -1px; }
          .container .content .main .mainTitle li a {
            font-size: 16px;
            color: #666; }
        .container .content .main .mainTitle li.active {
          background: #f66; }

/*# sourceMappingURL=companyInfo.css.map */
