<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div style="height: 80px; background: #ccc;"></div>
    <form action="/home" method="post">
        <input type="text" name="username" placeholder="用户名">
        <input type="text" name="email" placeholder="邮箱">
        <input type="text" name="gender" placeholder="性别">
        <input type="submit" value="提交">
    </form>
    <table>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>邮箱</td>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>