@charset "UTF-8";

@mixin page{
  float: left;
  width: 28px;
  height: 28px;
  border:1px solid #dddddd;
  text-align: center;
  color: #666;
  cursor: pointer;
}
@mixin hover{
  background: #eee;
  color: #FF8F00;
}
@mixin noselect{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
/*
  头部
*/
.hide{
  display: none;
}

.header{
  overflow: hidden;
  background:rgba(51,51,51,1);
  h2{
    width:216px;
    background:rgba(255,143,0,1);
    line-height: 52px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    float: left;
  }
  ul{
    float: left;
    width:calc(100% - 216px);
    background: #333;
    text-align: right;
    li{
      float: right;
      width: 164px;
      line-height: 52px;
      font-size: 14px;
      margin-right: 33px;
      color: #fff;
      a{
        line-height: 52px;
        font-size: 14px;
        color: #fff;
        margin-left: 30px;

      }

    }
  }

}
.container{

  margin:0 auto;
  width:100%;
  height: calc(100% - 52px);
  /*
    左侧导航栏
  */
  .sideBar{
    width: 216px;
    height: 100%;
    background: #333;
    float: left;

    .sideBarList{
      width: 216px;

      h2{
        line-height: 50px;
        width: 187px;
        border-left: 3px solid transparent;
        padding-left: 26px;
        font-size: 14px;
        cursor: pointer;
        color: #fefefe;
        span{
          float: right;
          width: 26px;
          height: 50px;
          background: url("../img/common/icon_arrow_right.png") left center no-repeat;
        }
        i{
          display: block;
          float: left;
          width: 30px;
          height: 50px;
          background: url("../img/common/icon_yong.png") left center no-repeat;
        }
        &:hover{
          background: #444;
        }
        
      }

      ul{
        overflow: hidden;
        display: none;
        li{
          background: #444;
          line-height: 50px;
          width: 157px;
          border-left: 3px solid transparent;
          padding-left: 56px;
          a{
            font-size: 14px;
            color: #fefefe;
          }
          &:hover{
            border-left:3px solid #FF8F00;
          }

        }
        li.active{
          border-left:3px solid #FF8F00;
          a{
            color: #FF8F00;
          }
        }
      }
      //ul.show{
      //  display: block;
      //}

    }
    .sideBarList.active{
      h2{
        span{
          background: url("../img/common/icon_arrow_down.png") left center no-repeat;
        }
        background: #444;

      }
      ul{
        display: block;
      }
    }
    .userManagement h2{
      i{
        background: url("../img/common/icon_yong.png") left center no-repeat;
      }


    }
    .financialManagement h2{
      i{
        background: url("../img/common/icon_jin.png") left center no-repeat;
      }

    }
    .accountInfo h2{
      i{
        background: url("../img/common/icon_zhang.png") left center no-repeat;
      }


    }
    .dataCenter h2{
      i{
        background: url("../img/common/icon_shu.png") left center no-repeat;
      }

    }
  }
  /*
    正文
  */
  .content{
    float: left;
    width:calc(100% - 216px);
    background: #f5f3f0;
    height: 100%;
    overflow-y: auto;
    .title{
      width:calc(100% - 34px);
      height: 140px;
      background: #fff;
      margin: 20px auto;
      div{
        float: left;
        line-height: 140px;
        margin-left: 28px;
        margin-right:11.4%;
        font-size: 14px;
        color: #333333;
        p{
          margin-left: 10px;
          display: inline;
          color: #FF8F00;
          font-size: 20px;

        }
        i{
          color: #FF8F00;
          font-size: 18px;
        }
        span{
          color: #FF8F00;
          margin-right: 5px;
          font-size: 14px;
        }
      }
      a{
        float: left;
        display: block;
        margin-top: 53px;
        width: 98px;
        height: 34px;
        margin-right:4.2%;
        line-height: 34px;
        text-align: center;
        background: #f6f6f6;
        border: 1px solid #cccccc;
        border-radius: 3px;
      }
      .recharge{

        background: #fff;
        color: #FF8F00;
        border: 1px solid #ccc;
        &:hover{
          border: 1px solid transparent;
          background: #FF8F00;
          color: #fff;
        }
      }
      .raisedCash{
        border: 1px solid #ccc;
        background: #fff;
        color: #0896FA;
        &:hover{
          border: 1px solid transparent;
          background: #0896FA;
          color: #fff;

        }
      }
    }
    .main{
      width:calc(100% - 34px);
      background: #fff;
      min-height: 850px;
      margin:20px auto;
      border:1px solid #ddd;


      /*
        头部
      */
      .mainTitle{
        width:100%;
        height: 50px;
        background: #f1f1f1;
        border-bottom:1px solid #ddd;
        li{
          width:16.8%;
          line-height: 48px;
          float: left;
          text-align: center;
          border-right:1px solid #ddd;
          border-top:3px solid transparent;
          margin-top: -1px;
          border-bottom:1px solid transparent;
          a{
            font-size: 16px;
            color: #666;
          }
        }
        li.active{
          background: #fff;
          border:1px solid #fff;
          border-top:3px solid #fe972a;
          border-left:1px solid #dddddd;
          border-right:1px solid #ddd;
          margin-left: -1px;
        }
      }


      /*
        table表格
      */

      table{
        width:calc(100% - 30px);
        background: #f66;
        border:1px solid #ddd;
        margin:0 auto;
        margin-top: 20px;
        border-collapse:collapse;
        table-layout:fixed ;
        tr{
          text-align: center;
          background: #fff;
          th{
            border:1px solid #ddd;
            word-wrap:break-word;
            color: #666;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            padding:0 12px;
            background: #efefef;
            text-align: center;
            font-weight: normal;
          }

          td{
            border:1px solid #ddd;
            word-wrap:break-word;
            font-size: 13px;
            height: 45px;
            color: #333;
            overflow:hidden;
            padding: 10px 0;
            white-space:nowrap;
            text-overflow:ellipsis;
            p{
              margin:0 auto;
              overflow:hidden;
              white-space:nowrap;
              text-overflow:ellipsis;
            }

          }
         
          th:nth-child(1),td:nth-child(1){
            width:17.9%;
          }
          th:nth-child(2),td:nth-child(2){
            width:20%;
            p{
              width:90%;
            }
          }
          th:nth-child(3),td:nth-child(3){
            width:23%;
            p{
              width:84%;
              text-align: left;
              padding-top: 10px;

            }
          }
          th:nth-child(4),td:nth-child(4){
            width:19.6%;
            a{
              color: #0896FA;
              font-size: 13px;
              text-decoration: underline;
            }
          }
          th:nth-child(5),td:nth-child(5){
            width:12.7%;
          }
          th:nth-child(6),td:nth-child(6){
            width:10.1%;
            p{
              width: 82px;
              line-height: 32px;
              background:#0896fa;
              border-radius: 3px ;
              margin:0 auto 6px;
              font-size: 13px;
              color: #fff;
              cursor: pointer;
              &:hover{
                background: #1280fc;
              }
            }
          }
        }

        tr:nth-child(even){
          background: #f5f5f5;
        }
      }
      
      /*
      分页
      */
      
      .pages{
        height: 55px;
        width:100%;
        margin: 30px 0 0 15px;

        p{
          @include page;
          line-height: 28px;
          font-size: 12px;
          @include noselect;
          &:hover{
            @include hover;
          }
        }
        ul{
          float: left;
          @include noselect;
          li{
            float: left;
            @include page;
            font-size: 13px;
            line-height: 30px;
            border-left: 0;
            &.active{
              background: #eee;
              color: #FF8F00;
            }
            &:hover{
              @include hover;
            }
          }
          li:nth-last-child(1){
            border-right: 0;
          }
        }
        div{
          float: left;
          margin-left: 30px;
          font-size: 13px;
          line-height: 30px;
          color: #333;
          .nums{
            color: #FF8F00;
            margin:0 2px;
          }
          
        }
      }


    }

  }
}

