<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<form action="register" method="POST">
    <p>
        <label for="username">用户名：</label>
        <input type="text" id="username" name="user" >
    </p>
    <p>
        <label for="password">密码：</label>
        <input type="text" id="password" name="pwd" >
    </p>
    <p>
        <label for="repassword">确认密码：</label>
        <input type="text" id="repassword" name="repwd" >
    </p>
    <p>
        <input type="submit" value="注册">
    </p>


</form>
<script>

</script>
</body>
</html>