<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/details.css">
</head>
<body>
<div class="header">jet Song后台管理系统</div>
<div class="container">
    <div class="cLeft">
        <ul>
            <li><a href="userlist">用户管理</a></li>
            <li><a href="">用户组管理</a></li>
        </ul>

    </div>
    <div class="cRight">
        <form action="userEdit-{{ obj.id }}" method="post">
            <input  type="text" value="{{ obj.id }}" name="id">
            <input type="text" value="{{ obj.username }}" name="user">
            <input type="text" value="{{ obj.password }}" name="pwd">
            <input type="submit">
        </form>
    </div>
</div>

</body>
</html>