@charset "UTF-8";
/*
  container
*/
.container {
  width: 1200px;
  margin: 0 auto; }
  .container .title {
    width: 1180px;
    height: 60px;
    margin: 0 10px 0; }
    .container .title ul {
      color: #666666;
      overflow: hidden; }
      .container .title ul li {
        float: left;
        font-size: 14px;
        line-height: 60px;
        margin-right: 10px; }
        .container .title ul li a {
          color: #666666; }
      .container .title ul span {
        float: left;
        font-size: 18px;
        line-height: 60px;
        margin-right: 10px; }
  .container .content {
    width: 1200px;
    overflow: hidden;
    /*
      sideBar左侧导航栏
    */
    /*
      main 主题部分
    */ }
    .container .content .sideBar {
      float: left;
      width: 225px;
      overflow: hidden;
      border: 1px solid #cccccc; }
      .container .content .sideBar .sideBarMenu {
        overflow: hidden;
        border-bottom: 1px solid #ccc; }
        .container .content .sideBar .sideBarMenu .sideBarTitle {
          height: 50px;
          width: 225px; }
          .container .content .sideBar .sideBarMenu .sideBarTitle img {
            width: 20px;
            height: 20px;
            float: left;
            margin-left: 20px;
            margin-top: 15px; }
          .container .content .sideBar .sideBarMenu .sideBarTitle span {
            float: left;
            font-size: 18px;
            line-height: 50px;
            color: #666;
            margin-left: 10px; }
        .container .content .sideBar .sideBarMenu ul {
          overflow: hidden; }
          .container .content .sideBar .sideBarMenu ul li {
            width: 175px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left: 50px; }
            .container .content .sideBar .sideBarMenu ul li a {
              color: #666; }
          .container .content .sideBar .sideBarMenu ul li.active {
            background: #41AAFF; }
            .container .content .sideBar .sideBarMenu ul li.active a {
              color: #fff; }
          .container .content .sideBar .sideBarMenu ul a:hover {
            color: #41AAFF; }
      .container .content .sideBar .sideBarMenu:nth-last-child(1) {
        border-bottom: none; }
    .container .content .modifyBefore {
      width: 954px;
      background: #fff;
      float: left; }
    .container .content .accountDataTitle {
      width: 954px;
      height: 58px;
      line-height: 58px;
      color: #333;
      font-size: 18px;
      text-indent: 60px;
      background: url("../img/userData/line.png") center 46px no-repeat; }
    .container .content .usernames {
      width: 954px;
      margin-top: 50px; }
    .container .content .usernames p {
      float: left;
      width: 192px;
      text-align: right;
      font-size: 18px;
      color: #333; }
    .container .content .usernames span {
      float: left;
      margin-left: 30px;
      font-size: 18px;
      color: #333; }
    .container .content .userImage {
      width: 954px;
      margin-top: 55px; }
    .container .content .userImage > div {
      float: left;
      width: 192px;
      text-align: right;
      font-size: 18px;
      color: #333; }
    .container .content .userImageCon {
      float: left;
      width: 742px;
      margin-left: 20px; }
    .container .content .userImageCon li {
      width: 190px;
      height: 125px;
      float: left;
      margin: 0 175px 60px 0; }
    .container .content .userImageCons div {
      width: 170px;
      height: 88px;
      background: url("../img/userData/default_photo.png") 0 0 no-repeat;
      margin: 0 auto;
      overflow: hidden; }
    .container .content .userImageCons div img {
      width: 100%;
      height: 100%; }
    .container .content .userImageCons p {
      width: 190px;
      height: 37px;
      text-align: center;
      line-height: 50px;
      color: #333;
      font-size: 18px; }
    .container .content .btn {
      width: 140px;
      height: 150px; }
    .container .content .btn a {
      width: 140px;
      height: 44px;
      border-radius: 4px;
      color: #fff;
      float: left;
      line-height: 44px;
      text-align: center;
      font-size: 18px;
      border: 0;
      cursor: pointer;
      background: #ff7f20;
      margin: 50px 0 110px 251px; }

/*# sourceMappingURL=accountInfo.css.map */
