html {
  min-height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0; }

.hide {
  display: none; }

.header {
  width: 100%;
  min-width: 1200px; }

.headCon {
  width: 100%;
  min-width: 1200px;
  height: 35px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-family: "Arail", "Tabhoma"; }

.headerCon {
  width: 1200px;
  height: 35px;
  margin: 0 auto; }

.header-left {
  float: left;
  color: #666;
  width: 600px;
  line-height: 35px;
  font-size: 12px; }

.header-left li a {
  color: #666; }

.header-left li a:hover {
  color: #ff7f20; }

.header-right {
  float: right;
  line-height: 35px; }

.header-right li {
  float: left;
  color: #666; }

.code {
  padding-left: 20px;
  position: relative;
  background: url("../img/DetailsPage/phone-b.png") 0px center no-repeat;
  background-size: 10px 14px; }

.code a {
  color: #666; }

.code .img-show {
  width: 100px;
  height: 100px;
  background: #eee;
  box-shadow: 0 0 5px black;
  position: absolute;
  left: -10px;
  top: 36px;
  z-index: 100;
  display: none; }

.code .img-show img {
  width: 100%; }

.code:hover .appDow {
  color: #ff7f20; }

.code:hover .img-show {
  display: block; }

.header-right li a {
  color: #666; }

.header-right > span {
  float: left;
  margin: 0 10px;
  color: #666; }

.nav-header {
  width: 100%;
  min-width: 1200px;
  height: 130px;
  background: #fafafa;
  border-bottom: 2px solid #41AAFF; }

.nav-headerCon {
  width: 1200px;
  margin: 0 auto; }

.nav-headerBox {
  width: 1200px; }

.nav-logo {
  width: 425px;
  float: left; }

.nav-logo li {
  float: left; }

.nav-logo li:nth-child(2) {
  width: 200px;
  height: 60px;
  border-left: 1px solid #CCCCCC;
  line-height: 60px;
  font-size: 28px;
  margin-top: 25px;
  text-align: center;
  color: #41AAFF; }

.seek {
  width: 544px;
  height: 100px;
  float: right;
  overflow: hidden;
  margin: 10px 0 0 30px; }

.seeka {
  height: 30px;
  line-height: 30px; }

.seeka li {
  width: 50px;
  height: 30px;
  float: left;
  background: #eee;
  text-align: center;
  line-height: 30px;
  cursor: pointer; }

.seeka .show {
  color: #fff;
  background: #41aaff; }

.seekb {
  width: 544px;
  height: 48px;
  position: relative; }

.seekb_a {
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.seekb_b {
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.seekb_a input {
  width: 410px;
  height: 44px;
  float: left;
  line-height: 44px;
  background: #fff url("../img/DetailsPage/search.png") 20px center no-repeat;
  border: 2px solid #41aaff;
  text-indent: 46px;
  font-family: simhei;
  font-size: 14px; }

.seekb_a span {
  width: 86px;
  line-height: 48px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #41aaff;
  cursor: pointer; }

.seekb_b input {
  width: 410px;
  height: 44px;
  float: left;
  line-height: 44px;
  background: #fff url("../img/DetailsPage/search.png") 20px center no-repeat;
  border: 2px solid #41aaff;
  text-indent: 46px;
  font-size: 14px;
  font-family: simhei; }

.seekb_b span {
  width: 86px;
  line-height: 48px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #41aaff;
  cursor: pointer; }

.seekc {
  line-height: 32px; }
  .seekc a {
    color: #ff7f1d; }

.nav-title {
  width: 1200px;
  height: 38px;
  line-height: 38px; }
  .nav-title li {
    float: left;
    color: #333;
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 3px solid transparent; }
    .nav-title li a {
      color: #333;
      font-size: 16px;
      border-bottom: 3px solid transparent; }

/*
    content 
*/
.content {
  margin: 0 auto;
  width: 1200px; }
  .content .nav-text {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #666; }
  .content .b_title {
    height: 80px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    background: #fff; }
    .content .b_title .goods {
      position: relative;
      margin-top: 20px;
      float: left;
      width: 134px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      color: #333;
      border-radius: 5px; }
      .content .b_title .goods a {
        color: #333; }
      .content .b_title .goods.active {
        background: #41AAFF; }
        .content .b_title .goods.active a {
          color: #fff; }
        .content .b_title .goods.active::before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          bottom: -8px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid #41AAFF;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent; }
      .content .b_title .goods:hover {
        background: #41AAFF; }
        .content .b_title .goods:hover a {
          color: #fff; }
        .content .b_title .goods:hover::before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          bottom: -8px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid #41AAFF;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent; }
    .content .b_title .b_more {
      float: right;
      font-size: 12px;
      margin-right: 22px;
      line-height: 80px;
      color: #999; }
      .content .b_title .b_more span {
        color: #FF7F20; }
  .content .beihua {
    width: 1198px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #ccc; }
    .content .beihua .b_category {
      width: 100%;
      height: 44px;
      border-bottom: 1px solid #ddd; }
      .content .beihua .b_category li {
        float: left;
        width: 88px;
        margin: 0 22px;
        color: #999;
        font-size: 14px;
        height: 45px;
        cursor: pointer;
        text-align: center; }
        .content .beihua .b_category li p {
          margin-top: 10px; }
        .content .beihua .b_category li em {
          text-align: center;
          width: 0px;
          display: inline-block;
          transition: 1s all cubic-bezier(0.46, 1, 0.23, 1);
          background-color: transparent;
          padding: 1px; }
          .content .beihua .b_category li em.active {
            width: 88px;
            background-color: #41AAFF; }
        .content .beihua .b_category li.active {
          color: #333; }
          .content .beihua .b_category li.active em {
            width: 88px;
            background-color: #41AAFF; }
      .content .beihua .b_category span {
        float: left;
        line-height: 44px;
        color: #eee; }
      .content .beihua .b_category .b_switch {
        line-height: 44px;
        color: #41AAFF;
        cursor: pointer;
        float: right;
        font-size: 14px;
        padding-right: 20px;
        margin-right: 55px;
        background: url("../img/icon_switch.png") right center no-repeat; }
    .content .beihua .b_msg {
      line-height: 38px;
      color: #FF7F20;
      padding-left: 22px;
      font-size: 12px; }
    .content .beihua .b_pickup_goods {
      width: 100%;
      background: #fff;
      margin: 0 auto;
      border-collapse: collapse;
      table-layout: fixed; }
      .content .beihua .b_pickup_goods thead {
        border: 1px solid #ddd; }
      .content .beihua .b_pickup_goods tbody tr:hover {
        background: #efefef; }
      .content .beihua .b_pickup_goods tr {
        text-align: center;
        background: #fff; }
        .content .beihua .b_pickup_goods tr th {
          word-wrap: break-word;
          color: #666;
          font-size: 14px;
          height: 50px;
          background: #F5F5F5;
          text-align: center;
          font-weight: normal; }
        .content .beihua .b_pickup_goods tr td {
          border-bottom: 1px solid #eee;
          word-wrap: break-word;
          font-size: 13px;
          height: 48px;
          color: #333;
          padding: 6px; }
        .content .beihua .b_pickup_goods tr th:nth-child(1), .content .beihua .b_pickup_goods tr td:nth-child(1) {
          width: 100px;
          padding: 0 50px; }
        .content .beihua .b_pickup_goods tr th:nth-child(2), .content .beihua .b_pickup_goods tr td:nth-child(2) {
          width: 150px; }
        .content .beihua .b_pickup_goods tr th:nth-child(3), .content .beihua .b_pickup_goods tr td:nth-child(3) {
          width: 220px; }
        .content .beihua .b_pickup_goods tr th:nth-child(4), .content .beihua .b_pickup_goods tr td:nth-child(4) {
          width: 80px;
          padding: 0 12px; }
        .content .beihua .b_pickup_goods tr th:nth-child(4) {
          width: 60px;
          padding: 0 10px; }
        .content .beihua .b_pickup_goods tr td:nth-child(4) {
          color: #79c039; }
        .content .beihua .b_pickup_goods tr th:nth-child(5), .content .beihua .b_pickup_goods tr td:nth-child(5) {
          width: 160px; }
        .content .beihua .b_pickup_goods tr th:nth-child(5) {
          width: 70px;
          padding: 0 58px; }
        .content .beihua .b_pickup_goods tr th:nth-child(6), .content .beihua .b_pickup_goods tr td:nth-child(6) {
          width: 160px; }
        .content .beihua .b_pickup_goods tr th:nth-child(7), .content .beihua .b_pickup_goods tr td:nth-child(7) {
          width: 200px; }
          .content .beihua .b_pickup_goods tr th:nth-child(7) a, .content .beihua .b_pickup_goods tr td:nth-child(7) a {
            width: 60px;
            height: 30px;
            display: inline-block;
            background: #fff;
            border: 1px solid #fb9f61;
            color: #fb9f61;
            line-height: 32px;
            text-align: center;
            border-radius: 3px; }
            .content .beihua .b_pickup_goods tr th:nth-child(7) a:hover, .content .beihua .b_pickup_goods tr td:nth-child(7) a:hover {
              background: #fb9f61;
              border: 1px solid #fb9f61;
              color: #fff; }
            .content .beihua .b_pickup_goods tr th:nth-child(7) a.active, .content .beihua .b_pickup_goods tr td:nth-child(7) a.active {
              background: #fb9f61;
              border: 1px solid #fb9f61;
              color: #fff; }
        .content .beihua .b_pickup_goods tr.active {
          background: url("../img/icon_vip.png") left top no-repeat; }
          .content .beihua .b_pickup_goods tr.active:hover {
            background: url("../img/icon_vip.png") left top no-repeat #efefef; }

/*# sourceMappingURL=b_pickup.css.map */
