@charset "UTF-8";
/*
  container
*/
.container {
  width: 1200px;
  margin: 0 auto; }
  .container .title {
    width: 1180px;
    height: 40px;
    margin: 0 10px 0; }
    .container .title ul {
      color: #666666;
      overflow: hidden; }
      .container .title ul li {
        float: left;
        font-size: 14px;
        line-height: 40px;
        margin-right: 5px; }
        .container .title ul li a {
          color: #666666; }
      .container .title ul span {
        float: left;
        font-size: 18px;
        line-height: 40px;
        margin-right: 3px; }
  .container .content {
    width: 1200px;
    overflow: hidden;
    /*
      sideBar左侧导航栏
    */
    /*
      main 主题部分
    */ }
    .container .content .sideBar {
      float: left;
      width: 225px;
      overflow: hidden;
      border: 1px solid #cccccc; }
      .container .content .sideBar .sideBarMenu {
        overflow: hidden;
        border-bottom: 1px solid #ccc; }
        .container .content .sideBar .sideBarMenu .sideBarTitle {
          height: 50px;
          width: 225px; }
          .container .content .sideBar .sideBarMenu .sideBarTitle img {
            width: 20px;
            height: 20px;
            float: left;
            margin-left: 20px;
            margin-top: 15px; }
          .container .content .sideBar .sideBarMenu .sideBarTitle span {
            float: left;
            font-size: 18px;
            line-height: 50px;
            color: #666;
            margin-left: 10px; }
        .container .content .sideBar .sideBarMenu ul {
          overflow: hidden; }
          .container .content .sideBar .sideBarMenu ul li {
            width: 175px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left: 50px; }
            .container .content .sideBar .sideBarMenu ul li a {
              color: #666; }
          .container .content .sideBar .sideBarMenu ul li.active {
            background: #41AAFF; }
            .container .content .sideBar .sideBarMenu ul li.active a {
              color: #fff; }
          .container .content .sideBar .sideBarMenu ul a:hover {
            color: #41AAFF; }
      .container .content .sideBar .sideBarMenu:nth-last-child(1) {
        border-bottom: none; }
    .container .content .modifyBefore {
      width: 954px;
      background: #fff;
      min-height: 568px;
      float: left; }
      .container .content .modifyBefore .accountDataTitle {
        width: 954px;
        height: 60px;
        line-height: 60px;
        color: #333;
        font-size: 18px;
        text-indent: 60px;
        background: url("../img/userData/line.png") center 46px no-repeat; }
      .container .content .modifyBefore .attention {
        font-size: 16px;
        width: 904px;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;
        background: url("../img/icon_th.png") left 44px center no-repeat;
        padding-left: 50px;
        text-indent: 1em;
        color: #999; }
      .container .content .modifyBefore .prompt {
        font-size: 16px;
        color: #333;
        font-weight: 600;
        margin-left: 280px;
        margin-top: 66px; }
      .container .content .modifyBefore .cashout_list {
        min-height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #333;
        margin-top: 10px; }
        .container .content .modifyBefore .cashout_list .cashout_side {
          float: left;
          width: 360px;
          text-align: right; }
        .container .content .modifyBefore .cashout_list p {
          float: left; }
        .container .content .modifyBefore .cashout_list input {
          float: left;
          width: 160px;
          height: 40px;
          margin-top: 4px; }
        .container .content .modifyBefore .cashout_list .cash_num {
          font-size: 24px;
          color: #FF7F20;
          margin-right: 2px; }
      .container .content .modifyBefore .balance {
        margin-top: 20px; }
      .container .content .modifyBefore .cash_add {
        width: 126px;
        height: 40px;
        margin: 50px 0 0 360px;
        display: block;
        background: #ff8f00;
        border-radius: 3px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 40px; }
        .container .content .modifyBefore .cash_add:hover {
          background: #FF7F20; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0; }

.footer_box {
  height: 179px; }

/*# sourceMappingURL=bail_add.css.map */
