.confirm_msg {
  width: 1200px;
  margin: 10px auto 30px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333; }

.nav {
  width: 1200px;
  line-height: 60px;
  margin: 0 auto; }
  .nav .nav-text {
    color: #666; }
    .nav .nav-text a {
      color: #666; }

.container {
  width: 1200px;
  border: 1px solid #ddd;
  margin: 0 auto 30px;
  overflow: hidden; }
  .container .title {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #ddd;
    padding-left: 16px;
    font-weight: normal;
    background: #F5F5F5;
    font-size: 16px;
    color: #333; }
  .container .pro_info {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed; }
    .container .pro_info tr {
      text-align: center;
      background: #fff; }
      .container .pro_info tr th {
        word-wrap: break-word;
        color: #666;
        font-size: 14px;
        height: 54px;
        background: #fff;
        text-align: center;
        font-weight: normal;
        border-bottom: 2px solid #41AAFF;
        margin: 0 2px; }
      .container .pro_info tr td {
        border-bottom: 1px solid #ddd;
        word-wrap: break-word;
        font-size: 16px;
        height: 74px;
        color: #333; }
      .container .pro_info tr th:nth-child(1), .container .pro_info tr td:nth-child(1) {
        width: 224px; }
      .container .pro_info tr th:nth-child(2), .container .pro_info tr td:nth-child(2) {
        width: 314px; }
      .container .pro_info tr th:nth-child(3), .container .pro_info tr td:nth-child(3) {
        width: 212px; }
      .container .pro_info tr th:nth-child(4), .container .pro_info tr td:nth-child(4) {
        width: 223px; }
      .container .pro_info tr th:nth-child(5), .container .pro_info tr td:nth-child(5) {
        width: 223px; }

.pay_list {
  width: 1180px;
  text-align: right;
  font-size: 16px;
  margin: 0 auto;
  padding-right: 20px;
  color: #333; }
  .pay_list .pay {
    height: 40px;
    line-height: 35px; }
    .pay_list .pay span {
      float: right; }
    .pay_list .pay p {
      float: right; }
      .pay_list .pay p span {
        font-weight: 600; }
  .pay_list .payable p {
    margin: 0;
    padding: 0; }
    .pay_list .payable p em {
      color: #FF7F20;
      font-size: 24px; }
    .pay_list .payable p span {
      color: #FF7F20;
      font-size: 24px; }
  .pay_list .confirm {
    width: 1180px;
    height: 48px;
    margin-bottom: 60px;
    margin-top: 20px; }
    .pay_list .confirm a {
      width: 182px;
      height: 48px;
      background: #FF8F00;
      line-height: 48px;
      text-align: center;
      color: #fff;
      display: block;
      float: right;
      border-radius: 3px; }
      .pay_list .confirm a:hover {
        background: #FF7F20; }

.footer_box {
  height: 179px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=confirm_orderB.css.map */
