.hide {
    display: none; }
  
  .header {
    width: 100%;
    min-width: 1200px; }
  
  .headCon {
    width: 100%;
    min-width: 1200px;
    height: 35px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-family: "Arail", "Tabhoma"; }
  
  .headerCon {
    width: 1200px;
    height: 35px;
    margin: 0 auto; }
  
  .header-left {
    float: left;
    color: #666;
    width: 600px;
    line-height: 35px;
    font-size: 12px; }
  
  .header-left li a {
    color: #666; }
  
  .header-left li a:hover {
    color: #ff7f20; }
  
  .header-right {
    float: right;
    line-height: 35px; }
  
  .header-right li {
    float: left;
    color: #666; }
  
  .code {
    padding-left: 20px;
    position: relative;
    background: url("../img/DetailsPage/phone-b.png") 0px center no-repeat;
    background-size: 10px 14px; }
  
  .code a {
    color: #666; }
  
  .code .img-show {
    width: 100px;
    height: 100px;
    background: #eee;
    box-shadow: 0 0 5px black;
    position: absolute;
    left: -10px;
    top: 36px;
    z-index: 100;
    display: none; }
  
  .code .img-show img {
    width: 100%; }
  
  .code:hover .appDow {
    color: #ff7f20; }
  
  .code:hover .img-show {
    display: block; }
  
  .header-right li a {
    color: #666; }
  
  .header-right > span {
    float: left;
    margin: 0 10px;
    color: #666; }
  
  