.confirm_msg {
  width: 1200px;
  margin: 10px auto 30px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333; }

.upload_contract {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 14px; }
  .upload_contract span {
    float: left;
    line-height: 44px;
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    color: #666; }
  .upload_contract .upload {
    overflow: hidden; }
    .upload_contract .upload p {
      width: 280px;
      height: 44px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      float: left;
      font-size: 14px;
      line-height: 44px;
      text-indent: 2em;
      color: #999;
      border: 1px solid #ccc; }
    .upload_contract .upload a {
      float: left;
      width: 100px;
      height: 42px;
      position: relative;
      display: inline-block;
      background: #41AAFF;
      border-radius: 3px;
      overflow: hidden;
      margin-left: 10px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      text-indent: 0;
      line-height: 42px; }
      .upload_contract .upload a input {
        cursor: pointer;
        height: 42px;
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0; }
      .upload_contract .upload a:hover {
        background: #3ba5fb; }

.nav {
  width: 1200px;
  line-height: 60px;
  margin: 0 auto; }
  .nav .nav-text {
    color: #666; }
    .nav .nav-text a {
      color: #666; }

.order_status {
  width: 1200px;
  height: 178px;
  border: 1px solid #ddd;
  margin: 0 auto; }
  .order_status .o_status, .order_status .o_number {
    padding-left: 144px;
    line-height: 36px; }
  .order_status .o_status {
    margin-top: 45px;
    font-size: 16px;
    color: #333;
    font-weight: bold; }
  .order_status .attention {
    background: url("../img/icon_attention.png") left 90px center no-repeat; }
  .order_status .complete {
    background: url("../img/icon_complete.png") left 90px center no-repeat; }
  .order_status .o_number {
    font-size: 14px;
    color: #666; }

.order_info {
  width: 1200px;
  border: 1px solid #ddd;
  margin: 30px auto 30px;
  overflow: hidden; }
  .order_info .title {
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #ddd;
    padding-left: 16px;
    font-weight: normal;
    font-size: 16px;
    color: #333; }
  .order_info .pro_infoA {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed; }
    .order_info .pro_infoA thead tr {
      background: #E6F4FF; }
    .order_info .pro_infoA tr {
      text-align: center;
      background: #fff; }
      .order_info .pro_infoA tr th {
        word-wrap: break-word;
        color: #666;
        font-size: 14px;
        height: 54px;
        text-align: center;
        font-weight: normal;
        margin: 0 2px; }
      .order_info .pro_infoA tr td {
        border-bottom: 1px solid #ddd;
        word-wrap: break-word;
        font-size: 14px;
        height: 122px;
        color: #333;
        vertical-align: top;
        line-height: 20px;
        border-right: 1px solid #E6F4FF;
        padding-top: 20px; }
      .order_info .pro_infoA tr th:nth-child(1), .order_info .pro_infoA tr td:nth-child(1) {
        width: 272px; }
      .order_info .pro_infoA tr th:nth-child(2), .order_info .pro_infoA tr td:nth-child(2) {
        width: 225px; }
      .order_info .pro_infoA tr th:nth-child(3), .order_info .pro_infoA tr td:nth-child(3) {
        width: 198px; }
      .order_info .pro_infoA tr th:nth-child(4), .order_info .pro_infoA tr td:nth-child(4) {
        width: 256px; }
      .order_info .pro_infoA tr th:nth-child(5), .order_info .pro_infoA tr td:nth-child(5) {
        width: 245px; }
      .order_info .pro_infoA tr td:nth-child(1) .pro_img {
        width: 80px;
        height: 80px;
        float: left;
        margin-left: 48px; }
        .order_info .pro_infoA tr td:nth-child(1) .pro_img img {
          width: 100%;
          height: 100%; }
      .order_info .pro_infoA tr td:nth-child(1) .pro_conpany {
        width: 85px;
        height: 80px;
        text-align: left;
        font-size: 14px;
        color: #333333;
        float: left; }
      .order_info .pro_infoA tr td:nth-child(1) .pro_name {
        padding-left: 66px;
        height: 42px;
        line-height: 30px;
        float: left;
        font-size: 14px;
        color: #333333;
        width: 206px;
        text-align: left; }
      .order_info .pro_infoA tr td:nth-child(4) p {
        padding-left: 80px;
        text-align: left; }

.footer_box {
  height: 179px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=order_detailA.css.map */
