<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <p>index.html</p>
{#    <form action="{% request.path_info %}" method="POST">#}
{#        <p><input type="text" placeholder="用户名" name="user"></p>#}
{#        <p><input type="text" placeholder="邮箱" name="email"></p>#}
{#        <input type="submit" value="提交">#}
{#    </form>#}
{#    {% for key,vals in user_dict.items %}#}
{#        <li>#}
{#            <a target="_blank" href="detail-{{ key }}.html">{{ vals.name }}</a>#}
{#        </li>#}
{#    {% endfor %}#}
</ul>

</body>
</html>