<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
<form action="register" method="post" enctype="multipart/form-data">
    <p>
        <label for="username">username:</label>
        <input type="text" id="username" name="username">
    </p>
     <p>
        <label for="password">password:</label>
        <input type="text" id="password" name="password">
    </p>
     <p>
        <label for="repassword">repassword:</label>
        <input type="text" id="repassword" name="repassword">
    </p>
{#     <p>#}
{#        <label for="upload">upload:</label>#}
{#        <input type="file" id="upload" name="upload">#}
{#    </p>#}
{#    <p class="gender">#}
{#        <span>gender:</span>#}
{#        <label for="man">man</label>#}
{#        <input type="radio" id="man" name="gender" value="男">#}
{#        <label for="woman">woman</label>#}
{#        <input type="radio" id="woman" name="gender" value="女">#}
{#    </p>#}
     <p>
        <input type="submit" value="提交">
    </p>

</form>
</body>
</html>