@charset "UTF-8";


/*
  container
*/
.container{
  width:1200px;
  margin:0 auto;
  .title{
    width:1180px;
    height:60px;
    margin:0 10px 0;
    ul{
      color: #666666;
      overflow: hidden;
      li{
        float: left;
        font-size: 14px;
        line-height: 60px;
        margin-right:10px;
        a{
            color: #666666;
        }
      }
      span{
        float: left;
        font-size: 18px;
        line-height: 60px;
        margin-right:10px;
      }
    }
  }
  .content{
    width:1200px;
    overflow: hidden;
    /*
      sideBar左侧导航栏
    */
    .sideBar{
      float: left;
      width:225px;
      overflow: hidden;
      border: 1px solid #cccccc;
      .sideBarMenu{
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        .sideBarTitle{
          height:50px;
          width:225px;
          img{
            width:20px;
            height:20px;
            float: left;
            margin-left:20px;
            margin-top:15px;
          }
          span{
            float: left;
            font-size: 18px;
            line-height: 50px;
            color: #666;
            margin-left: 10px;
          }
        }
        ul{
          overflow: hidden;
          li{
            width:175px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left:50px;
            a{
             color: #666;   
            }
          }
          li.active{
            background: #41AAFF;
            a{
              color: #fff;
            }
          }
          a:hover{
            color: #41AAFF;
          }
        }
      }

    }
    /*
      main 主题部分
    */
    .modifyBefore{
        width: 954px;
        background: #fff;
        height: 568px;
        float: left;
        .accountDataTitle{
            width: 954px;
            height: 58px;
            line-height: 58px;
            color: #333;
            font-size: 18px;
            text-indent: 60px;
            background: url("../img/userData/line.png") center 46px no-repeat;
        }
        .attention{
            font-size: 16px;
            width: 904px;
            height: 30px;
            line-height: 30px;
            margin-top: 15px;
            background: url('../img/icon_th.png') left 44px center no-repeat;
            padding-left: 50px;
            text-indent: 1em;
            color: #999;

        }
        .balance{
            font-size: 16px;
            color: #666;
            text-align: center;
            margin: 73px auto 105px;
            span{
                font-size: 36px;
                color: #FF7F20;
            }
        }
        .operation{
            height: 50px;
            a{
                display: block;
                float: left;
                width: 124px;
                height: 38px;
                border: 1px solid transparent;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-size: 16px;
                border-radius: 3px;
            }
            .recharge{
                border: 1px solid #ff8f00;
                color: #ff8f00;
                background: #fff;
                margin: 0 60px 0 340px;
                &:hover{
                    color: #fff;
                    background: #ff8f00;
                }
            }
            .raised_cash{
                border: 1px solid #41AAFF;
                color: #41AAFF;
                background: #fff;
                &:hover{
                    color: #fff;
                    background: #41AAFF;
                }
            }
        }
       
    }
    
  }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_box{
    height: 179px;
}