
.confirm_msg{
    width: 1200px;
    margin: 10px auto 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;

}

.upload_contract{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
    span{
        float: left;
        line-height: 44px;
        text-align: right;
        margin-right: 20px;
        font-size: 14px;
        color: #666;
      }
    .upload{
        overflow: hidden;
        p{
          width:280px;
          height:44px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          float: left;
          font-size: 14px;
          line-height: 44px;
          text-indent: 2em;
          color: #999;
          border:1px solid #ccc;
          &.active{
              color: #333;
          }
        }

        a{
          float: left;
          width:100px;
          height: 42px;
          position: relative;
          display: inline-block;
          background:#41AAFF;
          border-radius: 3px;
          overflow: hidden;
          margin-left:10px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          text-indent: 0;
          line-height: 42px;


          input{
            cursor: pointer;
            height:42px;
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;

          }
          &:hover{
              background: #3ba5fb;
          }
         
        }

      }

}
.nav{
    width: 1200px;
    line-height: 60px;
    margin: 0 auto;
    .nav-text{
        color: #666;
        a{
            color: #666;
        }
    }
}

.container{
    width: 1200px;
    border: 1px solid #ddd;
    margin: 30px auto;
    overflow: hidden;

    
    .title{
        height: 56px;
        line-height: 56px;
        border-bottom: 1px solid #ddd;
        padding-left: 16px;
        font-weight: normal;
        background: #F5F5F5;
        font-size: 16px;
        color: #333;
    }
   
            

    .pro_info{
        width:100%;
        background: #fff;
        margin:0 auto;
        border-collapse:collapse;
        table-layout:fixed ;
      
        tbody{
            tr:hover{
            background: #efefef;
            }
        }
        tr{
            text-align: center;
            background: #fff;
            th{
            word-wrap:break-word;
            color: #666;
            font-size: 14px;
            height: 54px;
            background: #fff;
            text-align: center;
            font-weight: normal;
            border-bottom: 2px solid #41AAFF;
            margin: 0 2px;
            }

            td{
            border-bottom:1px solid #ddd;
            word-wrap:break-word;
            font-size: 14px;
            height: 74px;
            color: #333;
            }
            
            th:nth-child(1),td:nth-child(1){
            width: 224px;
            }
            th:nth-child(2),td:nth-child(2){
              width:314px;
            }
            th:nth-child(3),td:nth-child(3){
              width:212px;
            }
            th:nth-child(4),td:nth-child(4){
             width:223px;
            }
            th:nth-child(5),td:nth-child(5){
             width:224px;
            }
        }
      
     
    }
    .total{
        width: 1180px;
        height: 74px;
        line-height: 74px;
        text-align: right;
        font-size: 16px;
        color: #333;
        padding-right: 20px;
       
    }
   
 
  
   
}
      
.payable{
    width: 1180px;
    text-align: right;
    font-size: 16px;
    margin: 0 auto;
    padding-right: 20px;
    color: #333;
    p{
        width: 1180px;
        height: 74px;
        line-height: 74px;
        em{
            color: #FF7F20;
            font-size: 24px;
        }
        span{
            color: #FF7F20;
            font-size: 24px;
        }
    }
    .confirm{
        width: 182px;
        height: 48px;
        background: #FF8F00;
        line-height: 48px;
        text-align: center;
        color: #fff;
        display: block;
        float: right;
        border-radius: 3px;
        &:hover{
            background: #FF7F20
        }
    }
}
.footer_box{
    height: 179px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}