
.confirm_msg{
    width: 1200px;
    margin: 10px auto 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;

}

.upload_contract{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
    span{
        float: left;
        line-height: 44px;
        text-align: right;
        margin-right: 20px;
        font-size: 14px;
        color: #666;
      }
    .upload{
        overflow: hidden;
        p{
          width:280px;
          height:44px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          float: left;
          font-size: 14px;
          line-height: 44px;
          text-indent: 2em;
          color: #999;
          border:1px solid #ccc;
        }

        a{
          float: left;
          width:100px;
          height: 42px;
          position: relative;
          display: inline-block;
          background:#41AAFF;
          border-radius: 3px;
          overflow: hidden;
          margin-left:10px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          text-indent: 0;
          line-height: 42px;


          input{
            cursor: pointer;
            height:42px;
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;

          }
          &:hover{
              background: #3ba5fb;
          }
         
        }

      }

}
.nav{
    width: 1200px;
    line-height: 60px;
    margin: 0 auto;
    .nav-text{
        color: #666;
        a{
            color: #666;
        }
    }
}
.order_status{
    width: 1200px;
    height: 178px;
    border: 1px solid #ddd;
    margin: 0 auto;
    .o_status,.o_number{
        padding-left: 144px;
        line-height: 36px;
    }
    .o_status{
        margin-top: 45px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }
    .attention{
        background: url('../img/icon_attention.png') left 90px center no-repeat;
    }
    .complete{
        background: url('../img/icon_complete.png') left 90px center no-repeat;
    }
    .o_number{
        font-size: 14px;
        color: #666;
    }
}

.order_info{
    width: 1200px;
    border: 1px solid #ddd;
    margin: 30px auto 30px;
    overflow: hidden;

    
    
    .title{
        height: 54px;
        line-height: 54px;
        border-bottom: 1px solid #ddd;
        padding-left: 16px;
        font-weight: normal;
        font-size: 16px;
        color: #333;
    }
   
            

    .pro_infoC{
        width:100%;
        background: #fff;
        margin:0 auto;
        border-collapse:collapse;
        table-layout:fixed ;
        thead{
            tr{
               background: #E6F4FF; 
            }
        }
      
        tr{
            text-align: center;
            background: #fff;
            th{
            word-wrap:break-word;
            color: #666;
            font-size: 14px;
            height: 54px;
            text-align: center;
            font-weight: normal;
            margin: 0 2px;
            }

            td{
            border-bottom:1px solid #ddd;
            word-wrap:break-word;
            font-size: 14px;
            height: 122px;
            color: #333;
            vertical-align: top;
            line-height: 20px;
            border-right: 1px solid #E6F4FF;
            padding-top: 20px;
            }
            
            th:nth-child(1),td:nth-child(1){
            width: 237px;
            }
            th:nth-child(2),td:nth-child(2){
              width:219px;
            }
            th:nth-child(3),td:nth-child(3){
              width:186px;
            }
            th:nth-child(4),td:nth-child(4){
             width:194px;
            }
            th:nth-child(5),td:nth-child(5){
             width:203px;
            }
            th:nth-child(6),td:nth-child(6){
             width:156px;
            }
          
            td:nth-child(1){
              
                .pro_img{
                    width: 80px;
                    height: 80px;
                    float: left;
                    margin-left: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .pro_conpany{
                    width: 85px;
                    height: 80px;
                    text-align: left;
                    font-size: 14px;
                    color: #333333;
                    float: left;
                }
                .pro_name{
                    padding-left: 58px;
                    height: 42px;
                    line-height: 30px;
                    float: left;
                    font-size: 14px;
                    color: #333333;
                    width: 206px;
                    text-align: left;
                }
            }
            
            td:nth-child(6){
                p{
                    padding-left: 44px;
                    text-align: left;
                }
            }
        }
      
     
    }
  
 
  
   
}

      
.pay_list{
    width: 1180px;
    text-align: right;
    font-size: 16px;
    margin: 0 auto 60px;
    padding-right: 20px;
    color: #333;
    .pay{
        height: 40px;
        line-height: 35px;
        span{
            float: right;
        }
        p{
            float: right;
            span{
                font-weight: 600;
            }
        }
    }
    .payable{
        p{
            margin: 0;
            padding: 0;
            em{
                color: #FF7F20;
                font-size: 24px;
            }
            span{
                color: #FF7F20;
                font-size: 24px;
            }
        }
    }
}
      

.footer_box{
    height: 179px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}