@charset "UTF-8";


/*
  container
*/
.container{
  width:1200px;
  margin:0 auto;
  .title{
    width:1180px;
    height:56px;
    ul{
      color: #666666;
      overflow: hidden;
      li{
        float: left;
        font-size: 16px;
        line-height: 56px;
        margin-right:5px;
        a{
            font-size: 16px;
            color: #666666;
        }
      }
      span{
        float: left;
        font-size: 18px;
        line-height: 40px;
        margin-right:3px;
      }
    }
  }
  .content{
    width:1200px;
    height: 700px;
    overflow: hidden;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    h2{
        height: 56px;
        line-height: 56px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        color: #333;
        background: #fafafa;
        padding-left: 19px;
    }
    .receipt_list{
        height: 42px;
        line-height: 42px;
        font-size: 16px;
        color: #333;
        .receipt_sideBar{
            text-align: right;
            width: 435px;
            float: left;
            span{
                color: #f66;
            }
        }
        p{
            float: left;
        }
        input{
            float: left;
            width: 244px;
            font-size: 16px;
            color: #333;
            height: 40px;
        }
        .address{
            width: 424px;
        }
        select{
            float: left;
            width: 150px;
            height: 42px;
            font-size: 16px;
            color: #333;
            margin-right: 8px;
        }
    }
    .receipt_Top{
        margin-top: 30px;
    }
 
    .err{
        margin-left: 435px;
        color: #f66;
        line-height: 20px;
        height: 20px;
    }
    .confirm{
        width: 182px;
        height: 48px;   
        border-radius: 3px;
        text-align: center;
        line-height: 48px;
        color: #fff;
        background: #ff8f00;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        margin-top: 20px;
        &:hover{
            background: #ff7f00;
        }
    }
   
    
  }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_box{
    height: 179px;
}
.hide{
    display: none;
}

// 运单轨迹trajectory
.trajectory{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    .trajectory_main{
        width: 1064px;
        height:412px;
        position: absolute;
        box-shadow: 5px 5px 2px rgba(0,0,0,.2);;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        .t_title{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            height: 46px;
            line-height: 46px;
            background: #fff;
            h3{
                font-size: 16px;
                color: #333;
                float: left;
                margin-left: 24px;
            }
            ul{
                float: right;
                li{
                    float: left;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    margin: 2px ;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                }
                .scale{
                    background: url('../img/icon_big.png') center no-repeat;
                    &:hover{
                        background: url('../img/icon_big_h.png') center no-repeat;
                    }
                }
                .close{
                    background: url('../img/icon_close.png') center no-repeat;
                    &:hover{
                        background: url('../img/icon_close_h.png') center no-repeat;
                    }
                }
            }
        }
        .map{
            width: 100%;
            height: 100%;
        }
        &.active{
            width: 100%;
            height:100%;
        }
    }
    
}