@charset "UTF-8";


/*
  container
*/
.container{
  width:1200px;
  margin:0 auto;
  .title{
    width:1180px;
    height:56px;
    ul{
      color: #666666;
      overflow: hidden;
      li{
        float: left;
        font-size: 16px;
        line-height: 56px;
        margin-right:5px;
        a{
            font-size: 16px;
            color: #666666;
        }
      }
      span{
        float: left;
        font-size: 18px;
        line-height: 40px;
        margin-right:3px;
      }
    }
  }
  .content{
    width:1200px;
    height: 700px;
    overflow: hidden;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    h2{
        height: 56px;
        line-height: 56px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        color: #333;
        background: #fafafa;
        padding-left: 19px;
    }
    .receipt_list{
        height: 42px;
        line-height: 42px;
        font-size: 16px;
        color: #333;
        .receipt_sideBar{
            text-align: right;
            width: 435px;
            float: left;
            span{
                color: #f66;
            }
        }
        p{
            float: left;
        }
        input{
            float: left;
            width: 244px;
            font-size: 16px;
            color: #333;
            height: 40px;
        }
        .address{
            width: 424px;
        }
        select{
            float: left;
            width: 150px;
            height: 42px;
            font-size: 16px;
            color: #333;
            margin-right: 8px;
        }
    }
    .receipt_Top{
        margin-top: 30px;
    }
 
    .err{
        margin-left: 435px;
        color: #f66;
        line-height: 20px;
        height: 20px;
    }
    .confirm{
        width: 182px;
        height: 48px;   
        border-radius: 3px;
        text-align: center;
        line-height: 48px;
        color: #fff;
        background: #ff8f00;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        margin-top: 20px;
        &:hover{
            background: #ff7f00;
        }
    }
   
    
  }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_box{
    height: 179px;
}
.hide{
    display: none;
}
