

.upload_contract{
    width: 500px;
    margin: 120px auto 80px;
    overflow: hidden;
    font-size: 14px;
    span{
        float: left;
        line-height: 44px;
        text-align: right;
        margin-right: 20px;
        font-size: 14px;
        color: #666;
      }
    .upload{
        overflow: hidden;
        p{
          width:280px;
          height:44px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          float: left;
          font-size: 14px;
          line-height: 44px;
          text-indent: 2em;
          color: #999;
          border:1px solid #ccc;
        }

        a{
          float: left;
          width:100px;
          height: 42px;
          position: relative;
          display: inline-block;
          background:#41AAFF;
          border-radius: 3px;
          overflow: hidden;
          margin-left:10px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          text-indent: 0;
          line-height: 42px;


          input{
            cursor: pointer;
            height:42px;
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;

          }
          &:hover{
              background: #3ba5fb;
          }
         
        }

      }

}
.confirm{
    width: 182px;
    height: 48px;
    margin: 0 auto;
    a{
        display: block;
        width: 182px;
        height: 48px;
        line-height: 48px;
        background: #FF8F00;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
        &:hover{
            background: #ff7f20;
        }
    }
}

.footer_box{
    height: 179px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}